body {
  position: relative;
}
pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  word-wrap: nowrap;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
hr {
  border-color: #ddd;
}
.menu-col:nth-child(4n+1) {
  clear: both;
}
.section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.section > h2 {
  border-bottom: 1px solid #eee;
}
.jumbotron-head {
  background-color: #993333;
  color: #f6f6f6;
}
.jumbotron-head .muted,
.jumbotron-head small,
.jumbotron-head .small {
  color: #E5D5D5;
}
/* styleguide nav */
.nav-fixed {
  top: 30px;
  position: fixed;
}
.nav-submenu > li a {
  color: #993333;
}
.nav-submenu > li.active > a,
.nav-submenu > li:hover > a,
.nav-submenu > li:focus > a {
  color: #ffffff;
  background-color: #993333;
}
.nav-submenu > li.active > ul {
  display: block;
}
.nav-submenu > li > ul {
  display: none;
}
.nav-submenu > li > ul > li > a,
.nav-submenu > li > ul > li a:hover {
  padding-left: 15px;
  border-left: 2px solid #ffffff;
}
.nav-submenu > li > ul > li.active > a,
.nav-submenu > li > ul > li:hover > a,
.nav-submenu > li > ul > li:focus > a,
.nav-submenu > li > ul > li.active a:hover,
.nav-submenu > li > ul > li:hover a:hover,
.nav-submenu > li > ul > li:focus a:hover,
.nav-submenu > li > ul > li.active a:active,
.nav-submenu > li > ul > li:hover a:active,
.nav-submenu > li > ul > li:focus a:active,
.nav-submenu > li > ul > li.active a:focus,
.nav-submenu > li > ul > li:hover a:focus,
.nav-submenu > li > ul > li:focus a:focus {
  border-color: #999999;
}
/* Example and Markup style exceptions */
.panel-default > .panel-body > .table-responsive {
  margin: -15px;
}
.panel-default > .panel-body > .table-responsive > .table-bordered {
  border: none;
}
.panel-default > .panel-body > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel-default > .panel-body > .table-responsive > .table-bordered > tbody > tr > td:first-child {
  border-keft: none;
}
.panel-default > .panel-body > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel-default > .panel-body > .table-responsive > .table-bordered > tbody > tr > td:last-child {
  border-right: none;
}
/* Grid & Gutters */
.CONTAINER_CLASS_HERE > .row {
  margin: 0 5px;
  padding: 10px 5px;
  border: 1px solid #ccc;
}
.CONTAINER_CLASS_HERE > .row:first-child {
  border-bottom: none;
}
.CONTAINER_CLASS_HERE > .row:first-child:before {
  content: "Row 1";
  font-size: 17px;
  color: #999;
  padding-bottom: 10px;
}
.CONTAINER_CLASS_HERE > .row + .row:before {
  content: "Row 2";
  font-size: 17px;
  color: #999;
  padding-bottom: 10px;
}
.CONTAINER_CLASS_HERE > .row > div > .row {
  border: 1px solid #999;
}
.CONTAINER_CLASS_HERE > .row > div > .row:before {
  content: "Nested Row 1";
  font-size: 17px;
  color: #999;
  padding-bottom: 10px;
  position: absolute;
  top: 5px;
  left: 1px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #666;
  z-index: 800;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.35);
}
/* Typgraphy */
.body-font {
  font-family: 'Roboto', sans-serif;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.oxygen {
  font-family: 'Oxygen', sans-serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}
.font-block {
  font-size: 47px;
}
/* Swatches */
.swatch {
  width: 100%;
}
.swatch-color {
  height: 150px;
}
.row .swatch-color {
  margin: 5px;
  border: 2px solid #ccc;
}
table .swatch-color {
  border: none !important;
}
/* Swatch Color Mixin */
/* Primary Colors */
.swatch-color-link {
  background-color: #428bca;
}
.table .swatch-color-link:after {
  color: #f6f6f6;
  content: "#428bca";
}
.swatch-color-primary {
  background-color: #993333;
}
.table .swatch-color-primary:after {
  color: #f6f6f6;
  content: "#993333";
}
.swatch-color-body-bg {
  background-color: #ffffff;
}
.table .swatch-color-body-bg:after {
  content: "#ffffff";
}
/* Secondary Color Swatches */
.swatch-color-orange {
  background-color: #cc5d30;
}
.table .swatch-color-orange:after {
  color: #f6f6f6;
  content: "#cc5d30";
}
.swatch-color-dark-blue {
  background-color: #184866;
}
.table .swatch-color-dark-blue:after {
  color: #f6f6f6;
  content: "#184866";
}
.swatch-color-green {
  background-color: #61a661;
}
.table .swatch-color-green:after {
  color: #f6f6f6;
  content: "#61a661";
}
/* Gray Value Swatches */
.swatch-color-gray-darker {
  background-color: #222222;
}
.table .swatch-color-gray-darker:after {
  color: #f6f6f6;
  content: "#222222";
}
.swatch-color-gray-dark {
  background-color: #333333;
}
.table .swatch-color-gray-dark:after {
  color: #f6f6f6;
  content: "#333333";
}
.swatch-color-gray {
  background-color: #666666;
}
.table .swatch-color-gray:after {
  color: #f6f6f6;
  content: "#666666";
}
.swatch-color-gray-light {
  background-color: #999999;
}
.table .swatch-color-gray-light:after {
  content: "#999999";
}
.swatch-color-gray-lighter {
  background-color: #f9f9f9;
}
.table .swatch-color-gray-lighter:after {
  content: "#f9f9f9";
}
/* Footer Styles */
footer {
  min-height: 200px;
}
